{% extends "::layout.html.twig" %}
{% block body %}

    {% for billet in billets %}

        <li class=" section-extrait">
            <a href="{{ path('alt_app_lecture', {'id': billet.id}) }}">
                <div class="date col-sm-2">Le {{ billet.date|date('d/m/Y') }}
                    <a class=" Nbre  glyphicon glyphicon-comment"
                       href="{{ path('alt_app_lecture', {'id': billet.id}) }}">
                        <span>Nbre de commentaire(s):</span>{{ billet.commentaires | length }}
                    </a>
                </div>
            </a>

            <div class="extrait col-sm-9">
                <a href="{{ path('alt_app_lecture', {'id': billet.id}) }}">
                    <h3>{{ billet.titre }}</h3>
                    <p> {{ billet.contenu|striptags| truncate(650) |raw }}</p>
                </a>
                <a class="voir-plus btn btn-outline-primary"
                   href="{{ path('alt_app_lecture', {'id': billet.id}) }}" role="button">Voir plus... »
                </a>
                <hr>
            </div>

        </li>

    {% endfor %}


    {% if pagesTotal > 1 %}
        <div class="pagination col-sm-12">
            {% if page > 1 %}
                <a href="{{ path('alt_app_homepage',{'page':  page - 1 } ) }}"><i
                            class="glyphicon glyphicon-arrow-left"></i>page
                    précédente</a>
            {% endif %}
            Page : {{ page }}
            {% if page < pagesTotal %}
                <a href="{{ path('alt_app_homepage',{'page':  page + 1 } ) }}">page suivante<i
                            class="glyphicon glyphicon-arrow-right"></i></a>
            {% endif %}
        </div>
    {% endif %}



{% endblock %}


