<div class="billet-comm" style="padding-left: {{ niveau * 40 }}px; padding-top:5px; padding-bottom:5px;">
    <div class="billet-commentaire col-sm-12">

        <h5>{{ commentaire.auteur }} <i>, Le {{ commentaire.date | date('d-m-Y H:i:s') }} </i></h5>

        <div class="com_contenu ">{{ commentaire.contenu|raw }}</div>
    </div>

    <p class="commentaire">
        {% if niveau < 3 %}
    <div class=" combtnLecture">
        <a href="{{ path('alt_app_repondre_commentaire', {'id': commentaire.id}) }}" class="btnLecture btn btn-default comment">
            <i class="glyphicon glyphicon-comment ajout"></i>
            Répondre
        </a>

        {% endif %}
        <a href="{{ path('alt_app_signaler_commentaire', {'id': commentaire.id}) }}"
           class="btnLecture btn btn-default warning">
            <i class="glyphicon glyphicon-warning-sign"></i>
            Signaler
        </a>
    </div>
    </p>
</div>

{% for commentaireEnfant in commentaire.enfants %}
    {{ include('@ALTApp/Billet/commentaire.html.twig', {'commentaire' : commentaireEnfant, 'niveau': niveau + 1}) }}
{% endfor %}