{% extends "::layout.html.twig" %}

{% block texte %}

{% endblock %}

{% block body %}
    <div class="col-sm-11">
        <h3>{{ billet.titre }}</h3>
        <i>Le {{ billet.date|date('d/m/Y') }}</i>

        <hr>

        <div class="lecture_contenu">
            {{ billet.contenu|raw }}
        </div>
        <p>
            {#<a href="{{ path('alt_app_ajouter_commentaire', {'id': billet.id}) }}" class=" row btn btn-default col-lg-offset-10 ">
                <i class="glyphicon glyphicon-edit"></i>
                Ajouter un commentaire
            </a>#}
        </p>

        <div class="com">
            <div class="Nbr_com row col-sm-offset-8 ">

                <p class="glyphicon glyphicon-comment">
                    <span>Nombre de commentaire(s):</span> {{ listeCommentaires | length }}
                </p>

            </div>
            <p>
                <a href="{{ path('alt_app_ajouter_commentaire', {id: billet.id}) }}" class="btn btn-default comment">
                    <i class="glyphicon glyphicon-comment ajout"></i>
                    Ajouter commentaire
                </a>
            </p>

            <h4>Commentaires :</h4>

            {% for commentaire in listeCommentaires if commentaire.parent is null %}
                {{ include('@ALTApp/Billet/commentaire.html.twig', {'commentaire' : commentaire, 'niveau': 0, 'listeCommentaires': listeCommentaires}) }}
                <hr>
            {% endfor %}
        </div>

        <p>
            <a href="{{ path('alt_app_homepage') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la page d'accueil
            </a>
        </p>
    </div>
{% endblock %}
