{% extends "ALTAppBundle::layout.html.twig" %}
{% block body %}
    <h2>Signaler un commentaire</h2>

    <p>Vous avez repéré un commentaire avec un contenu illégal ou portant atteinte à vos droits ?</br>

        Afin de nous aider à traiter votre alerte, merci de nous décrire précisément ce qui vous paraît
        illégal dans ce message.</p>

    <div class="formContact col-lg-7 col-sm-12">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.email, "Veuillez saisir votre mail", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.email) }}

            <div class="col-lg-5">
                {# Génération de l'input. #}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <hr>
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.sujet, "Titre de votre alerte", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.sujet) }}

            <div class="col-lg-10">
                {# Génération de l'input. #}
                {{ form_widget(form.sujet, {'attr': { 'class': 'form-control'}}) }}
            </div>
        </div>
        <hr>
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.contenu, "Expliquez ici pourquoi le message vous parait illégal", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.contenu) }}

            <div class="col-lg-10">
                {# Génération de l'input. #}
                {{ form_widget(form.contenu, {'attr': {'rows': 10, 'class': 'form-control'}}) }}
            </div>
        </div>

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.enregistrer, "Envoyer", {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}