{% extends '::layout-admin.html.twig' %}



{% block body %}

    <h2 class="tableau_bord">Tableau de bord</h2>

    <ul class="liste_accueil">
        <h3 class="admin-accueil ">Blog:</h3>
        <li>
            <a href="{{ path('alt_app_admin_liste_billets') }}">
                <p>Nombre total de billets Publiés: {{ nbBilletsPublies }}</p>
            </a>
        </li>
        {% if nbBilletsDepublies > 0 %}
        <li class="red">
            <a class="red" href="{{ path('alt_app_admin_liste_billets', {'filtre': 'depublie'}) }}">
                <p>Nombre total de billets en attente de publication: {{ nbBilletsDepublies }}</p>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="{{ path('alt_app_admin_liste_commentaires') }}">
                <p>Nombre total de commentaires : {{ nbCommentaires }}</p>
            </a>
        </li>
        {% if nbCommentairesSignales > 0 %}
        <li class="red">
            <a class="red" href="{{ path('alt_app_admin_liste_commentaires', {'filtre': 'signaler'}) }}">
                <p>Nombre total commentaires signalés: {{ nbCommentairesSignales }}</p>
            </a>
        </li>
        {% endif %}
        </br>
        <h3 class="admin-accueil">Contacts:</h3>
        <li>
            <a href="{{ path('alt_app_admin_liste_contacts') }}">
                <p>Nombre total de messages : {{ nbContacts }} </p>
            </a>
        </li>
        {% if nbContactsAttenteReponse > 0 %}
        <li class="red">
            <a class="red" href="{{ path('alt_app_admin_liste_contacts', {'filtre': 'attente'}) }}">
                <p>Nombre total de messages en attente de réponse: {{ nbContactsAttenteReponse }}</p>
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
