{% extends '::layout-admin.html.twig' %}

{% block body %}

    <em class="underline">De</em> : {{ contact.prenom }} {{ contact.nom }}<br>
    <em class="underline">Titre</em> : {{ contact.sujet }}<br><br>
    <em class="underline">Contenu</em> : {{ contact.contenu|nl2br }}

    <hr>

    <div>
        <h3 class="bonjour">Bonjour {{ contact.prenom }} {{ contact.nom }},</h3>
        <p>{{ contact.contenuReponse|raw }}</p>
        <p class="auteur">Jean Forteroche</p>
    </div>
    <hr>
    <p>
        <a href="{{ path('alt_app_admin_liste_contacts') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la page gestion des contacts
        </a>
    </p>
{% endblock %}