{% extends '::layout-admin.html.twig' %}

{% block body %}

    <em style="text-decoration: underline; font-weight: bold">De</em> : {{ contact.prenom }} {{ contact.nom }}<br>
    <em style="text-decoration: underline; font-weight: bold">Titre</em> : {{ contact.sujet }}<br><br>
    <em style="text-decoration: underline; font-weight: bold">Contenu</em> : {{ contact.contenu }}

    <hr>

    <div>
        <h3 style="font-family: ELEGANCE;font-size: 26px;">Bonjour {{ contact.prenom }} {{ contact.nom }},</h3>
        <p>{{ contact.contenuReponse }}</p>
        <p style="font-style: italic">Jean Forteroche</p>
    </div>

{% endblock %}