{% extends '::layout-admin.html.twig' %}

{% block body %}

    {% set title = "Liste des demandes de contacts" %}
    {% if app.request.query.get('filtre') %} {# vérifie si dans l'URL, on trouve "?filtre=xxx" #}
        {% set title = "Liste des demandes de contacts en attente de réponses" %}
    {% endif %}


    <div class="liste"><h2 >{{ title }}</h2>

        {% if app.request.query.get('filtre') %}
            <a href="{{ path('alt_app_admin_liste_contacts') }}">Afficher tous les contacts</a>
        {% else %}
            <a href="{{ path('alt_app_admin_liste_contacts', {'filtre': 'attente'}) }}">Afficher seulement les contacts en attente de réponses</a>
        {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>

                <th>Nom / Prénom</th>
                <th>Email</th>
                <th class="style">Date</th>
                <th>Sujet</th>
                <th class="nbsp-contacts">&nbsp;</th>

            </tr>
        </thead>

        <tbody>
            {% for contact in contacts %}
            <tr>

                <td>{{ contact.nom }} {{ contact.prenom }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.date | date('d-m-Y H:i:s') }}</td>
                <td>{{ contact.sujet }}</td>
                <td class="action">
                    {% if contact.dateReponse %}
                            <i class="glyphicon glyphicon-ok"></i>
                        <a href="{{ path('alt_app_admin_contact_lecture', {id: contact.id}) }}" title="Lire la réponse envoyée" class="date-reponse">
                        {{ contact.dateReponse | date('d-m-Y H:i:s') }}
                            </a>
                    {% else %}
                        <a href="{{ path('alt_app_admin_contact_repondre', {id: contact.id}) }}" title="Répondre à la demande de contact"class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    {% endif %}
                    <a href="{{ path('alt_app_admin_supprimer_contacts', {id: contact.id}) }}" title="Supprimer la demande de contact"class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
        <p>
            <a href="{{ path('alt_app_admin_accueil') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la page d'accueil
            </a>
        </p>
    </div>
{% endblock %}