{% extends '::layout-admin.html.twig' %}

{% block body %}

    <em class="underline">De</em> : {{ contact.prenom }} {{ contact.nom }}<br>
    <em class="underline">Titre</em> : {{ contact.sujet }}<br><br>
    <em class="underline">Contenu</em> : {{ contact.contenu|raw }}
    <hr>
    <div>
        <h3 class="bonjour">Bonjour {{ contact.prenom }} {{ contact.nom }},</h3>
        <div class="form-group">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.contenuReponse) }}

            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.contenuReponse, {'attr': {'rows': 12, 'class': 'form-control'}}) }}
            </div>

            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.envoyer, {'attr': {'class': 'glyphicon-envelope '}}) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}
    </div>
    <div>
        <p class="auteur">Jean Forteroche</p>
    </div>
    <hr>
    <p>
        <a href="{{ path('alt_app_admin_liste_contacts') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la page gestion des contacts
        </a>
    </p>
{% endblock %}